
^ContentPage {
    background-color: #D4DDF7;
}

stackLayout.intro {
    padding: 20;
    text-align: center;
    
    background-color: #EEF1FC;
}

stackLayout.list-view {
    background-color: #D4DDF7;
}

.list-item {
    background-color: #EEF1FC;
}

#logo {
    margin-top: 20;
    width: 200;
    padding: 20;
}